Installation issues

Attempting to install this via `meltano add` but am running into an error that isn't very debuggable.

```sh
(venv) ➜  meltano git:(tech/testing-improvements) ✗ meltano --log-level=debug add extractor tap-mysql --variant meltanolabs
2023-09-25T16:20:26.201060Z [debug    ] /etc/localtime found
2023-09-25T16:20:26.202827Z [debug    ] 1 found:
 {'/etc/localtime is a symlink to': 'America/Chicago'}
2023-09-25T16:20:26.204682Z [debug    ] Creating DB engine for project at '/Users/andenacitelli/meltano-service/src/meltano' with DB URI 'sqlite://Users/andenacitelli/meltano-service/src/meltano/.meltano/meltano.db'
2023-09-25T16:20:27.204517Z [debug    ] Found plugin parent            parent=tap-mysql plugin=tap-mysql source=<DefinitionSource.HUB: 1>
2023-09-25T16:20:27.220241Z [debug    ] Locked plugin definition       path=PosixPath('/Users/andenacitelli/meltano-service/src/meltano/plugins/extractors/tap-mysql--meltanolabs.lock')
Added extractor 'tap-mysql' to your Meltano project
Variant:        meltanolabs
Repository:     https://github.com/MeltanoLabs/tap-mysql
Documentation:  https://hub.meltano.com/extractors/tap-mysql--meltanolabs

Installing extractor 'tap-mysql'...
2023-09-25T16:20:27.287477Z [debug    ] Packages for 'extractors/tap-mysql' have changed so performing a clean install.
2023-09-25T16:20:27.287819Z [debug    ] Removed old virtual environment for 'extractors/tap-mysql'
2023-09-25T16:20:27.287859Z [debug    ] Creating virtual environment for 'extractors/tap-mysql'
2023-09-25T16:20:27.706016Z [debug    ] Upgrading pip for 'extractors/tap-mysql'
2023-09-25T16:20:27.706127Z [debug    ] Upgrading with args '--upgrade pip' in existing virtual environment for 'extractors/tap-mysql'
2023-09-25T16:20:28.759323Z [debug    ] Installing with args 'git+https://github.com/MeltanoLabs/tap-mysql.git' into virtual environment for 'extractors/tap-mysql'
Extractor 'tap-mysql' could not be installed: failed to install plugin 'tap-mysql'.

2023-09-25T16:20:32.134568Z [debug    ] Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Failed to install plugin(s) 
╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/__init__.py:1 │
│ 02 in _run_cli                                                                                   │
│                                                                                                  │
│    99 │   """                                                                                    │
│   100 │   try:                                                                                   │
│   101 │   │   try:  # noqa: WPS225, WPS505                                                       │
│ ❱ 102 │   │   │   cli(obj={"project": None})                                                     │
│   103 │   │   except ProjectReadonly as err:                                                     │
│   104 │   │   │   raise CliError(                                                                │
│   105 │   │   │   │   f"The requested action could not be completed: {err}",                     │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/core.py:1157 in     │
│ __call__                                                                                         │
│                                                                                                  │
│   1154 │                                                                                         │
│   1155 │   def __call__(self, *args: t.Any, **kwargs: t.Any) -> t.Any:                           │
│   1156 │   │   """Alias for :meth:`main`."""                                                     │
│ ❱ 1157 │   │   return self.main(*args, **kwargs)                                                 │
│   1158                                                                                           │
│   1159                                                                                           │
│   1160 class Command(BaseCommand):                                                               │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/cli.py:42 in  │
│ main                                                                                             │
│                                                                                                  │
│    39 │   │   │   args: Positional arguments for the Click group.                                │
│    40 │   │   │   kwargs: Keyword arguments for the Click group.                                 │
│    41 │   │   """                                                                                │
│ ❱  42 │   │   return super().main(*args, windows_expand_args=False, **kwargs)                    │
│    43                                                                                            │
│    44                                                                                            │
│    45 @click.group(                                                                              │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/core.py:1078 in     │
│ main                                                                                             │
│                                                                                                  │
│   1075 │   │   try:                                                                              │
│   1076 │   │   │   try:                                                                          │
│   1077 │   │   │   │   with self.make_context(prog_name, args, **extra) as ctx:                  │
│ ❱ 1078 │   │   │   │   │   rv = self.invoke(ctx)                                                 │
│   1079 │   │   │   │   │   if not standalone_mode:                                               │
│   1080 │   │   │   │   │   │   return rv                                                         │
│   1081 │   │   │   │   │   # it's not safe to `ctx.exit(rv)` here!                               │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/utils.py:612  │
│ in invoke                                                                                        │
│                                                                                                  │
│   609 │   │   enact_environment_behavior(self.environment_behavior, ctx)                         │
│   610 │   │   if ctx.obj.get("tracker"):                                                         │
│   611 │   │   │   ctx.obj["tracker"].add_contexts(CliContext.from_click_context(ctx))            │
│ ❱ 612 │   │   super().invoke(ctx)                                                                │
│   613                                                                                            │
│   614                                                                                            │
│   615 class InstrumentedDefaultGroup(InstrumentedGroupMixin, DefaultGroup, DYMGroup):            │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/core.py:1688 in     │
│ invoke                                                                                           │
│                                                                                                  │
│   1685 │   │   │   │   super().invoke(ctx)                                                       │
│   1686 │   │   │   │   sub_ctx = cmd.make_context(cmd_name, args, parent=ctx)                    │
│   1687 │   │   │   │   with sub_ctx:                                                             │
│ ❱ 1688 │   │   │   │   │   return _process_result(sub_ctx.command.invoke(sub_ctx))               │
│   1689 │   │                                                                                     │
│   1690 │   │   # In chain mode we create the contexts step by step, but after the                │
│   1691 │   │   # base command has been invoked.  Because at that point we do not                 │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/utils.py:661  │
│ in invoke                                                                                        │
│                                                                                                  │
│   658 │   │   if ctx.obj.get("tracker"):                                                         │
│   659 │   │   │   ctx.obj["tracker"].add_contexts(CliContext.from_click_context(ctx))            │
│   660 │   │   │   ctx.obj["tracker"].track_command_event(CliEvent.started)                       │
│ ❱ 661 │   │   super().invoke(ctx)                                                                │
│   662                                                                                            │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/core.py:1434 in     │
│ invoke                                                                                           │
│                                                                                                  │
│   1431 │   │   │   echo(style(message, fg="red"), err=True)                                      │
│   1432 │   │                                                                                     │
│   1433 │   │   if self.callback is not None:                                                     │
│ ❱ 1434 │   │   │   return ctx.invoke(self.callback, **ctx.params)                                │
│   1435 │                                                                                         │
│   1436 │   def shell_complete(self, ctx: Context, incomplete: str) -> t.List["CompletionItem"]:  │
│   1437 │   │   """Return a list of completions for the incomplete value. Looks                   │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/core.py:783 in      │
│ invoke                                                                                           │
│                                                                                                  │
│    780 │   │                                                                                     │
│    781 │   │   with augment_usage_errors(__self):                                                │
│    782 │   │   │   with ctx:                                                                     │
│ ❱  783 │   │   │   │   return __callback(*args, **kwargs)                                        │
│    784 │                                                                                         │
│    785 │   def forward(                                                                          │
│    786 │   │   __self, __cmd: "Command", *args: t.Any, **kwargs: t.Any  # noqa: B902             │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/params.py:27  │
│ in decorate                                                                                      │
│                                                                                                  │
│   24 │   │   if database_uri:                                                                    │
│   25 │   │   │   ProjectSettingsService.config_override["database_uri"] = database_uri           │
│   26 │   │                                                                                       │
│ ❱ 27 │   │   return func(*args, **kwargs)                                                        │
│   28 │                                                                                           │
│   29 │   return functools.update_wrapper(decorate, func)                                         │
│   30                                                                                             │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/params.py:75  │
│ in decorate                                                                                      │
│                                                                                                  │
│   72 │   │   │   │   except MigrationError as err:                                               │
│   73 │   │   │   │   │   raise CliError(str(err)) from err                                       │
│   74 │   │   │                                                                                   │
│ ❱ 75 │   │   │   func(project, *args, **kwargs)                                                  │
│   76 │   │                                                                                       │
│   77 │   │   return functools.update_wrapper(decorate, func)                                     │
│   78                                                                                             │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/click/decorators.py:33 in │
│ new_func                                                                                         │
│                                                                                                  │
│    30 │   """                                                                                    │
│    31 │                                                                                          │
│    32 │   def new_func(*args: "P.args", **kwargs: "P.kwargs") -> "R":                            │
│ ❱  33 │   │   return f(get_current_context(), *args, **kwargs)                                   │
│    34 │                                                                                          │
│    35 │   return update_wrapper(new_func, f)                                                     │
│    36                                                                                            │
│                                                                                                  │
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/add.py:163 in │
│ add                                                                                              │
│                                                                                                  │
│   160 │   │                                                                                      │
│   161 │   │   if not success:                                                                    │
│   162 │   │   │   tracker.track_command_event(CliEvent.failed)                                   │
│ ❱ 163 │   │   │   raise CliError("Failed to install plugin(s)")                                  │
│   164 │                                                                                          │
│   165 │   _print_plugins(plugins)                                                                │
│   166 │   tracker.track_command_event(CliEvent.completed)                                        │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
CliError: Failed to install plugin(s)

The above exception was the direct cause of the following exception:

╭─────────────────────────────── Traceback (most recent call last) ────────────────────────────────╮
│ /Users/andenacitelli/meltano-service/venv/lib/python3.10/site-packages/meltano/cli/__init__.py:1 │
│ 12 in _run_cli                                                                                   │
│                                                                                                  │
│   109 │   │   except MeltanoError as err:                                                        │
│   110 │   │   │   handle_meltano_error(err)                                                      │
│   111 │   │   except Exception as err:                                                           │
│ ❱ 112 │   │   │   raise CliError(f"{troubleshooting_message}\n{err}") from err                   │
│   113 │   except CliError as cli_error:                                                          │
│   114 │   │   cli_error.print()                                                                  │
│   115 │   │   sys.exit(1)                                                                        │
╰──────────────────────────────────────────────────────────────────────────────────────────────────╯
CliError: Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Failed to install plugin(s)

Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Failed to install plugin(s)
```

Here's my `meltano.yml` (lightly edited for security):

```yml
default_environment: staging
environments:
- name: staging
- name: production
plugins:
  extractors:
  - name: tap-postgres
    variant: transferwise
    pip_url: pipelinewise-tap-postgres
  - name: tap-s3-csv
    variant: transferwise
    pip_url: pipelinewise-tap-s3-csv
  - name: tap-mysql
    variant: meltanolabs
    pip_url: git+https://github.com/MeltanoLabs/tap-mysql.git
  loaders:
  - name: target-s3
    variant: crowemi
    pip_url: git+https://github.com/crowemi/target-s3.git
  - name: target-gcs
    variant: datateer
    pip_url: git+https://github.com/Datateer/target-gcs.git
  - name: target-postgres
    variant: meltanolabs
    pip_url: git+https://github.com/MeltanoLabs/target-postgres.git
  mappers:
  - name: meltano-map-transformer
    variant: meltano
    pip_url: git+https://github.com/MeltanoLabs/meltano-map-transform.git
    executable: meltano-map-transform
project_id: 05ff139b-599a-4d08-9a70-ee167a1dcdaf
version: 1
```

I know there's a bug that was introduced somewhere in meltano that doesn't show the pip installation logs for some reason. I'm not sure if it was 3.x that caused this but https://github.com/meltano/meltano/pull/8145 should have addressed it. 

You could try running the add command with a 2.x version of meltano as well or run with the version that's on main.

I'm pretty sure this is failing during the installation of `tap-mysql` so seeing those pip logs is important here!



> I know there's a bug that was introduced somewhere in meltano that doesn't show the pip installation logs for some reason. I'm not sure if it was 3.x that caused this but https://github.com/meltano/meltano/pull/8145 should have addressed it.
> 
> You could try running the add command with a 2.x version of meltano as well or run with the version that's on main.
> 
> I'm pretty sure this is failing during the installation of tap-mysql so seeing those pip logs is important here!
> 
> I am indeed on 3.x.x, but I just mixed dependency versions around to get to 2.x.x and the issue still persists. Here's the output of `poetry show`:

```sh
aiodocker                 0.21.0       Docker API client for asyncio
aiohttp                   3.8.5        Async http client/server framework (asyncio)
aiosignal                 1.3.1        aiosignal: a list of registered asynchronous callbacks
alembic                   1.12.0       A database migration tool for SQLAlchemy.
amqp                      5.1.1        Low-level AMQP client for Python (fork of amqplib).
aniso8601                 9.0.1        A library for parsing ISO 8601 strings.
anyio                     3.7.1        High level compatibility layer for multiple asynchronous event loop implementations
argcomplete               3.1.2        Bash tab completion for argparse
asgiref                   3.7.2        ASGI specs, helper code, and adapters
async-timeout             4.0.3        Timeout context manager for asyncio programs
atomicwrites              1.4.1        Atomic file writes.
attrs                     23.1.0       Classes Without Boilerplate
authlib                   1.2.1        The ultimate Python library in building OAuth and OpenID Connect servers and clients.
babel                     2.12.1       Internationalization utilities
backoff                   2.2.1        Function decoration for backoff and retry
bcrypt                    3.2.2        Modern password hashing for your software and your servers
billiard                  4.1.0        Python multiprocessing fork with improvements and bugfixes
black                     22.12.0      The uncompromising code formatter.
blinker                   1.6.2        Fast, simple object-to-object and broadcast signaling
boto3                     1.28.54      The AWS SDK for Python
boto3-stubs               1.28.54      Type annotations for boto3 1.28.54 generated with mypy-boto3-builder 7.19.0
botocore                  1.31.54      Low-level, data-driven core of boto 3.
botocore-stubs            1.31.54      Type annotations and code completion for botocore
bytecode                  0.15.0       Python module to generate and modify bytecode
cachecontrol              0.13.1       httplib2 caching for requests
cached-property           1.5.2        A decorator for caching properties in classes.
cachetools                5.3.1        Extensible memoizing collections and decorators
cattrs                    23.1.2       Composable complex class support for attrs and dataclasses.
celery                    5.3.4        Distributed Task Queue.
celery-types              0.19.0       Type stubs for Celery and its related packages
certifi                   2023.7.22    Python package for providing Mozilla's CA Bundle.
cffi                      1.15.1       Foreign Function Interface for Python calling C code.
cfgv                      3.4.0        Validate configuration and produce human readable error messages.
chardet                   5.2.0        Universal encoding detector for Python 3
charset-normalizer        3.2.0        The Real First Universal Charset Detector. Open, modern and actively maintained alternative to Chardet.
check-jsonschema          0.21.0       A jsonschema CLI and pre-commit hook
click                     8.1.7        Composable command line interface toolkit
click-default-group       1.2.4        click_default_group
click-didyoumean          0.3.0        Enables git-like *did-you-mean* feature in click
click-plugins             1.1.1        An extension module for click to enable registering CLI commands via setuptools entry-points.
click-repl                0.3.0        REPL plugin for Click
commonmark                0.9.1        Python parser for the CommonMark Markdown spec
coverage                  7.3.1        Code coverage measurement for Python
cramjam                   2.7.0        Thin Python bindings to de/compression algorithms in Rust
croniter                  1.4.1        croniter provides iteration for datetime object with cron like format
cryptography              41.0.4       cryptography is a package which provides cryptographic recipes and primitives to Python developers.
datamodel-code-generator  0.21.5       Datamodel Code Generator
ddsketch                  2.0.4        Distributed quantile sketches
ddtrace                   1.20.1       Datadog APM client library
deprecated                1.2.14       Python @deprecated decorator to deprecate old python classes, functions or methods.
distlib                   0.3.7        Distribution utilities
dnspython                 2.4.2        DNS toolkit
email-validator           1.3.1        A robust email address syntax and deliverability validation library.
envier                    0.4.0        Python application configuration via the environment
exceptiongroup            1.1.3        Backport of PEP 654 (exception groups)
execnet                   2.0.2        execnet: rapid multi-Python deployment
fastapi                   0.103.1      FastAPI framework, high performance, easy to learn, fast to code, ready for production
fasteners                 0.17.3       A python package that provides useful locks
fastparquet               2023.8.0     Python support for Parquet file format
filelock                  3.12.4       A platform independent file lock.
firebase-admin            6.2.0        Firebase Admin Python SDK
flask                     2.1.3        A simple framework for building complex web applications.
flask-babelex             0.9.4        Adds i18n/l10n support to Flask applications
flask-cors                3.0.10       A Flask extension adding a decorator for CORS support
flask-executor            0.10.0       An easy to use Flask wrapper for concurrent.futures
flask-login               0.6.1        User authentication and session management for Flask.
flask-mail                0.9.1        Flask extension for sending email
flask-principal           0.4.0        Identity management for flask
flask-restful             0.3.10       Simple framework for creating REST APIs
flask-sqlalchemy          2.5.1        Adds SQLAlchemy support to your Flask application.
flask-wtf                 1.1.1        Form rendering, validation, and CSRF protection for Flask with WTForms.
flatten-dict              0.4.2        A flexible utility for flattening and unflattening dict-like objects in Python.
frozenlist                1.4.0        A list-like structure which implements collections.abc.MutableSequence
fsspec                    2023.9.2     File-system specification
genson                    1.2.2        GenSON is a powerful, user-friendly JSON Schema generator.
google-api-core           2.12.0       Google API client core library
google-api-python-client  2.101.0      Google API Client Library for Python
google-auth               2.23.0       Google Authentication Library
google-auth-httplib2      0.1.1        Google Authentication Library: httplib2 transport
google-cloud-core         2.3.3        Google Cloud API client core library
google-cloud-firestore    2.12.0       Google Cloud Firestore API client library
google-cloud-storage      2.11.0       Google Cloud Storage API client library
google-crc32c             1.5.0        A python wrapper of the C library 'Google CRC32C'
google-resumable-media    2.6.0        Utilities for Google Media Downloads and Resumable Uploads
googleapis-common-protos  1.60.0       Common protobufs used in Google APIs
grpcio                    1.58.0       HTTP/2-based RPC framework
grpcio-status             1.58.0       Status proto mapping for gRPC
gunicorn                  20.1.0       WSGI HTTP Server for UNIX
h11                       0.14.0       A pure-Python, bring-your-own-I/O implementation of HTTP/1.1
httpcore                  0.18.0       A minimal low-level HTTP client.
httplib2                  0.22.0       A comprehensive HTTP client library.
httptools                 0.6.0        A collection of framework independent HTTP protocol utils.
httpx                     0.25.0       The next generation HTTP client.
identify                  2.5.29       File identification library for Python
idna                      3.4          Internationalized Domain Names in Applications (IDNA)
importlib-metadata        6.8.0        Read metadata from Python packages
inflect                   5.6.2        Correctly generate plurals, singular nouns, ordinals, indefinite articles; convert numbers to words
iniconfig                 2.0.0        brain-dead simple config-ini parsing
isort                     5.12.0       A Python utility / library to sort Python imports.
itsdangerous              2.1.2        Safely pass data to untrusted environments and back.
jinja2                    3.1.2        A very fast and expressive template engine.
jmespath                  1.0.1        JSON Matching Expressions
jsonschema                4.17.3       An implementation of JSON Schema validation for Python
jsonschema-spec           0.1.6        JSONSchema Spec with object-oriented paths
kombu                     5.3.2        Messaging library for Python.
lazy-object-proxy         1.9.0        A fast and thorough lazy object proxy.
loguru                    0.7.2        Python logging made (stupidly) simple
mako                      1.2.4        A super-fast templating language that borrows the best ideas from the existing templating languages.
markupsafe                2.1.3        Safely add untrusted strings to HTML/XML markup.
meltano                   2.17.1       Meltano is your CLI for ELT+: Open Source, Flexible, and Scalable. Move, transform, and test your data with confidence using a streamlined data engineering workf...
meltano-flask-security    0.1.0        Simple security for Flask apps.
msgpack                   1.0.6        MessagePack serializer
multidict                 6.0.4        multidict implementation
mypy                      1.5.1        Optional static typing for Python
mypy-boto3-cloudformation 1.28.48      Type annotations for boto3.CloudFormation 1.28.48 service generated with mypy-boto3-builder 7.19.0
mypy-boto3-dynamodb       1.28.36      Type annotations for boto3.DynamoDB 1.28.36 service generated with mypy-boto3-builder 7.18.0
mypy-boto3-ec2            1.28.53      Type annotations for boto3.EC2 1.28.53 service generated with mypy-boto3-builder 7.19.0
mypy-boto3-lambda         1.28.36      Type annotations for boto3.Lambda 1.28.36 service generated with mypy-boto3-builder 7.18.0
mypy-boto3-rds            1.28.41      Type annotations for boto3.RDS 1.28.41 service generated with mypy-boto3-builder 7.18.2
mypy-boto3-s3             1.28.52      Type annotations for boto3.S3 1.28.52 service generated with mypy-boto3-builder 7.19.0
mypy-boto3-sqs            1.28.36      Type annotations for boto3.SQS 1.28.36 service generated with mypy-boto3-builder 7.18.0
mypy-extensions           1.0.0        Type system extensions for programs checked with the mypy type checker.
nodeenv                   1.8.0        Node.js virtual environment builder
numpy                     1.26.0       Fundamental package for array computing in Python
openapi-schema-validator  0.4.4        OpenAPI schema validation for Python
openapi-spec-validator    0.5.7        OpenAPI 2.0 (aka Swagger) and OpenAPI 3 spec validator
opentelemetry-api         1.20.0       OpenTelemetry Python API
packaging                 21.3         Core utilities for Python packages
pandas                    2.1.1        Powerful data structures for data analysis, time series, and statistics
pandas-stubs              2.0.3.230814 Type annotations for pandas
passlib                   1.7.4        comprehensive password hashing framework supporting over 30 schemes
pathable                  0.4.3        Object-oriented paths
pathspec                  0.11.2       Utility library for gitignore style pattern matching of file paths.
platformdirs              3.10.0       A small Python package for determining appropriate platform-specific dirs, e.g. a "user data dir".
pluggy                    1.3.0        plugin and hook calling mechanisms for python
prance                    23.6.21.0    Resolving Swagger/OpenAPI 2.0 and 3.0.0 Parser
pre-commit                3.4.0        A framework for managing and maintaining multi-language pre-commit hooks.
prompt-toolkit            3.0.39       Library for building powerful interactive command lines in Python
proto-plus                1.22.3       Beautiful, Pythonic protocol buffers.
protobuf                  4.24.3       
psutil                    5.9.5        Cross-platform lib for process and system monitoring in Python.
psycopg2-binary           2.9.7        psycopg2 - Python-PostgreSQL Database Adapter
pyarrow                   13.0.0       Python library for Apache Arrow
pyasn1                    0.5.0        Pure-Python implementation of ASN.1 types and DER/BER/CER codecs (X.208)
pyasn1-modules            0.3.0        A collection of ASN.1-based protocols modules
pycparser                 2.21         C parser in Python
pydantic                  1.10.12      Data validation and settings management using python type hints
pygments                  2.16.1       Pygments is a syntax highlighting package written in Python.
pyhumps                   3.8.0        🐫  Convert strings (and dictionary keys) between snake case, camel case and pascal case in Python. Inspired by Humps for Node
pyjwt                     2.8.0        JSON Web Token implementation in Python
pyparsing                 3.1.1        pyparsing module - Classes and methods to define and execute parsing grammars
pyrsistent                0.19.3       Persistent/Functional/Immutable data structures
pysnooper                 1.2.0        A poor man's debugger for Python.
pytest                    7.4.2        pytest: simple powerful testing with Python
pytest-asyncio            0.21.1       Pytest support for asyncio
pytest-cov                4.1.0        Pytest plugin for measuring coverage.
pytest-dotenv             0.5.2        A py.test plugin that parses environment files before running tests
pytest-instafail          0.5.0        pytest plugin to show failures instantly
pytest-mock               3.11.1       Thin-wrapper around the mock package for easier use with pytest
pytest-randomly           3.15.0       Pytest plugin to randomly order tests and control random.seed.
pytest-xdist              3.3.1        pytest xdist plugin for distributed testing, most importantly across multiple CPUs
python-dateutil           2.8.2        Extensions to the standard Python datetime module
python-dotenv             0.20.0       Read key-value pairs from a .env file and set them as environment variables
python-gitlab             3.15.0       Interact with GitLab API
pytz                      2023.3.post1 World timezone definitions, modern and historical
pytz-deprecation-shim     0.1.0.post0  Shims to make deprecation of pytz easier
pyyaml                    6.0.1        YAML parser and emitter for Python
requests                  2.31.0       Python HTTP for Humans.
requests-toolbelt         1.0.0        A utility belt for advanced users of python-requests
rfc3339-validator         0.1.4        A pure python RFC3339 validator
rich                      12.6.0       Render rich text, tables, progress bars, syntax highlighting, markdown and more to the terminal
rsa                       4.9          Pure-Python RSA implementation
ruamel-yaml               0.17.21      ruamel.yaml is a YAML parser/emitter that supports roundtrip preservation of comments, seq/map flow style, and map key order
ruamel-yaml-clib          0.2.7        C version of reader, parser and emitter for ruamel.yaml derived from libyaml
ruff                      0.0.291      An extremely fast Python linter, written in Rust.
s3transfer                0.6.2        An Amazon S3 Transfer Manager
setuptools                68.2.2       Easily download, build, install, upgrade, and uninstall Python packages
six                       1.16.0       Python 2 and 3 compatibility utilities
smart-open                6.4.0        Utils for streaming large files (S3, HDFS, GCS, Azure Blob Storage, gzip, bz2...)
smtpapi                   0.4.12       Simple wrapper to use SendGrid SMTP API
snakeviz                  2.2.0        A web-based viewer for Python profiler output
sniffio                   1.3.0        Sniff out which async library your code is running under
snowplow-tracker          0.10.0       Snowplow event tracker for Python. Add analytics to your Python and Django apps, webapps and games
speaklater                1.3          implements a lazy string for python useful for use with gettext
sqlalchemy                1.4.49       Database Abstraction Library
starlette                 0.27.0       The little ASGI library that shines.
structlog                 21.5.0       Structured Logging for Python
tenacity                  8.2.3        Retry code until it succeeds
toml                      0.10.2       Python Library for Tom's Obvious, Minimal Language
tomli                     2.0.1        A lil' TOML parser
tornado                   6.3.3        Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
types-awscrt              0.19.1       Type annotations and code completion for awscrt
types-pytz                2023.3.1.1   Typing stubs for pytz
types-pyyaml              6.0.12.12    Typing stubs for PyYAML
types-s3transfer          0.6.2        Type annotations and code completion for s3transfer
typing-extensions         4.8.0        Backported and Experimental Type Hints for Python 3.8+
tzdata                    2023.3       Provider of IANA time zone data
tzlocal                   4.3.1        tzinfo object for the local timezone
uritemplate               4.1.1        Implementation of RFC 6570 URI Templates
urllib3                   1.26.16      HTTP library with thread-safe connection pooling, file post, and more.
uvicorn                   0.17.6       The lightning-fast ASGI server.
uvloop                    0.17.0       Fast implementation of asyncio event loop on top of libuv
vine                      5.0.0        Promises, promises, promises.
virtualenv                20.24.5      Virtual Python Environment builder
watchdog                  3.0.0        Filesystem events monitoring
watchgod                  0.8.2        Simple, modern file watching and code reload in python.
wcwidth                   0.2.6        Measures the displayed width of unicode strings in a terminal
websockets                11.0.3       An implementation of the WebSocket Protocol (RFC 6455 & 7692)
werkzeug                  2.1.2        The comprehensive WSGI web application library.
wrapt                     1.15.0       Module for decorators, wrappers and monkey patching.
wtforms                   3.0.1        Form validation and rendering for Python web development.
xmltodict                 0.13.0       Makes working with XML feel like you are working with JSON
yarl                      1.9.2        Yet another URL library
zipp                      3.17.0       Backport of pathlib-compatible object wrapper for zip files
```

Unfortunately, no extra output.

May also be worth noting that I don't think (?) that pull request has been released yet, as that was reported at 3.0.0 and 3.0.0 is still the most recent version.

Attempted install on 2.x.x and it's indeed a pip installation failure:

```sh
Extractor 'tap-mysql' could not be installed: failed to install plugin 'tap-mysql'.
  Running command git clone --filter=blob:none --quiet https://github.com/MeltanoLabs/tap-mysql.git /private/var/folders/kt/k_mss0s12y5dkzvyfbbkcrsm0000gn/T/pip-req-build-uks9lc5u
  error: subprocess-exited-with-error
  
  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [22 lines of output]
      Trying pkg-config --exists mysqlclient
      Command 'pkg-config --exists mysqlclient' returned non-zero exit status 1.
      Trying pkg-config --exists mariadb
      Command 'pkg-config --exists mariadb' returned non-zero exit status 1.
      Traceback (most recent call last):
        File "/Users/andenacitelli/meltano-service/src/meltano/.meltano/extractors/tap-mysql/venv/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 353, in <module>
          main()
        File "/Users/andenacitelli/meltano-service/src/meltano/.meltano/extractors/tap-mysql/venv/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
        File "/Users/andenacitelli/meltano-service/src/meltano/.meltano/extractors/tap-mysql/venv/lib/python3.10/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
        File "/private/var/folders/kt/k_mss0s12y5dkzvyfbbkcrsm0000gn/T/pip-build-env-7uf0tg37/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 355, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=['wheel'])
        File "/private/var/folders/kt/k_mss0s12y5dkzvyfbbkcrsm0000gn/T/pip-build-env-7uf0tg37/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 325, in _get_build_requires
          self.run_setup()
        File "/private/var/folders/kt/k_mss0s12y5dkzvyfbbkcrsm0000gn/T/pip-build-env-7uf0tg37/overlay/lib/python3.10/site-packages/setuptools/build_meta.py", line 341, in run_setup
          exec(code, locals())
        File "<string>", line 154, in <module>
        File "<string>", line 48, in get_config_posix
        File "<string>", line 27, in find_package_name
      Exception: Can not find valid pkg-config name.
      Specify MYSQLCLIENT_CFLAGS and MYSQLCLIENT_LDFLAGS env vars manually
      [end of output]
  
  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.
```

Looks like it wants `mysql` or `mariadb` to be present or something. I thought the point of taps/extractors was to be pretty self-contained; maybe this suggests something missing along those ends?

@anden-akkio While we could use the pure python implementation here it's slower and not the recommended method according to SQLAlchemy. The steps here https://www.bytebase.com/blog/how-to-install-mysql-client-on-mac-ubuntu-centos-windows/ look find from a quick google search , we could add a reference for MacOS installation instructions to the Readme. If you could get the steps and add that it'd be great!


I am also having an issue getting this to work.

I am on Mac

```
❯ meltano add extractor tap-mysql

Added extractor 'tap-mysql' to your project
Variant:        transferwise (default)
Repository:     https://github.com/transferwise/pipelinewise-tap-mysql
Documentation:  https://hub.meltano.com/extractors/tap-mysql--transferwise

2024-07-06T18:25:47.341768Z [info     ] Installing extractor 'tap-mysql'
2024-07-06T18:25:51.321502Z [info     ] Logged pip install output to /Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/logs/pip/extractors/tap-mysql/pip.log
2024-07-06T18:25:51.321821Z [error    ] Extractor 'tap-mysql' could not be installed: Failed to install plugin 'tap-mysql'.
2024-07-06T18:25:51.321865Z [info     ] Collecting pipelinewise-tap-mysql
  Using cached pipelinewise_tap_mysql-1.6.0-py3-none-any.whl.metadata (23 kB)
Collecting pendulum==2.1.2 (from pipelinewise-tap-mysql)
  Using cached pendulum-2.1.2.tar.gz (81 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pipelinewise-singer-python==1.* (from pipelinewise-tap-mysql)
  Using cached pipelinewise_singer_python-1.3.0-py3-none-any.whl.metadata (2.6 kB)
Collecting mysql-replication==0.43 (from pipelinewise-tap-mysql)
  Using cached mysql_replication-0.43.0-py3-none-any.whl
Collecting PyMySQL==1.1.* (from pipelinewise-tap-mysql)
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting plpygis==0.2.1 (from pipelinewise-tap-mysql)
  Using cached plpygis-0.2.1-py3-none-any.whl.metadata (2.3 kB)
Collecting tzlocal==2.1 (from pipelinewise-tap-mysql)
  Using cached tzlocal-2.1-py2.py3-none-any.whl.metadata (8.2 kB)
Collecting python-dateutil<3.0,>=2.6 (from pendulum==2.1.2->pipelinewise-tap-mysql)
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting pytzdata>=2020.1 (from pendulum==2.1.2->pipelinewise-tap-mysql)
  Using cached pytzdata-2020.1-py2.py3-none-any.whl.metadata (2.3 kB)
Collecting pytz<2021.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached pytz-2020.5-py2.py3-none-any.whl.metadata (21 kB)
Collecting jsonschema==3.2.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached jsonschema-3.2.0-py2.py3-none-any.whl.metadata (7.8 kB)
Collecting simplejson==3.17.2 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached simplejson-3.17.2-cp312-cp312-macosx_13_0_arm64.whl
Collecting backoff==1.10.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached backoff-1.10.0-py2.py3-none-any.whl.metadata (12 kB)
Collecting ciso8601 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached ciso8601-2.3.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (25 kB)
Collecting attrs>=17.4.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting pyrsistent>=0.14.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached pyrsistent-0.20.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (27 kB)
Collecting setuptools (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached setuptools-70.2.0-py3-none-any.whl.metadata (5.8 kB)
Collecting six>=1.11.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Using cached pipelinewise_tap_mysql-1.6.0-py3-none-any.whl (42 kB)
Using cached pipelinewise_singer_python-1.3.0-py3-none-any.whl (24 kB)
Using cached plpygis-0.2.1-py3-none-any.whl (21 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Using cached tzlocal-2.1-py2.py3-none-any.whl (16 kB)
Using cached backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Using cached jsonschema-3.2.0-py2.py3-none-any.whl (56 kB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached pytz-2020.5-py2.py3-none-any.whl (510 kB)
Using cached pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
Using cached ciso8601-2.3.1-cp312-cp312-macosx_11_0_arm64.whl (15 kB)
Using cached attrs-23.2.0-py3-none-any.whl (60 kB)
Using cached pyrsistent-0.20.0-cp312-cp312-macosx_10_9_universal2.whl (83 kB)
Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Using cached setuptools-70.2.0-py3-none-any.whl (930 kB)
Building wheels for collected packages: pendulum
  Building wheel for pendulum (pyproject.toml): started
  error: subprocess-exited-with-error
  
  × Building wheel for pendulum (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.
  
  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for pendulum (pyproject.toml): finished with status 'error'
  ERROR: Failed building wheel for pendulum
Failed to build pendulum
ERROR: ERROR: Failed to build installable wheels for some pyproject.toml based projects (pendulum)

Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Failed to install plugin(s)
```

I am also running into an issue on Mac whilst trying to get this to work.

```
❯ meltano add extractor tap-mysql --variant meltanolabs

Extractor 'tap-mysql' already exists in your Meltano project

To switch from the current 'transferwise' variant to 'meltanolabs':
1. Update `variant` and `pip_url` in your `meltano.yml` project file:
        name: tap-mysql
        variant: meltanolabs
        pip_url: git+https://github.com/MeltanoLabs/tap-mysql.git
2. Reinstall the plugin:
        meltano install extractor tap-mysql
3. Check if the configuration is still valid (and make changes until it is):
        meltano config tap-mysql list

To learn more, visit https://docs.meltano.com/guide/plugin-management#switching-from-one-variant-to-another

Alternatively, to keep the existing 'tap-mysql' with variant 'meltanolabs', add variant 'meltanolabs' as a separate plugin with its own unique name:
        meltano add extractor tap-mysql--meltanolabs --inherit-from tap-mysql --variant meltanolabs

To learn more, visit https://docs.meltano.com/guide/plugin-management#multiple-variants

2024-07-06T18:29:47.382967Z [info     ] Installing extractor 'tap-mysql'
2024-07-06T18:29:51.396660Z [info     ] Logged pip install output to /Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/logs/pip/extractors/tap-mysql/pip.log
2024-07-06T18:29:51.397011Z [error    ] Extractor 'tap-mysql' could not be installed: Failed to install plugin 'tap-mysql'.
2024-07-06T18:29:51.397064Z [info     ] Collecting pipelinewise-tap-mysql
  Using cached pipelinewise_tap_mysql-1.6.0-py3-none-any.whl.metadata (23 kB)
Collecting pendulum==2.1.2 (from pipelinewise-tap-mysql)
  Using cached pendulum-2.1.2.tar.gz (81 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting pipelinewise-singer-python==1.* (from pipelinewise-tap-mysql)
  Using cached pipelinewise_singer_python-1.3.0-py3-none-any.whl.metadata (2.6 kB)
Collecting mysql-replication==0.43 (from pipelinewise-tap-mysql)
  Using cached mysql_replication-0.43.0-py3-none-any.whl
Collecting PyMySQL==1.1.* (from pipelinewise-tap-mysql)
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting plpygis==0.2.1 (from pipelinewise-tap-mysql)
  Using cached plpygis-0.2.1-py3-none-any.whl.metadata (2.3 kB)
Collecting tzlocal==2.1 (from pipelinewise-tap-mysql)
  Using cached tzlocal-2.1-py2.py3-none-any.whl.metadata (8.2 kB)
Collecting python-dateutil<3.0,>=2.6 (from pendulum==2.1.2->pipelinewise-tap-mysql)
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting pytzdata>=2020.1 (from pendulum==2.1.2->pipelinewise-tap-mysql)
  Using cached pytzdata-2020.1-py2.py3-none-any.whl.metadata (2.3 kB)
Collecting pytz<2021.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached pytz-2020.5-py2.py3-none-any.whl.metadata (21 kB)
Collecting jsonschema==3.2.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached jsonschema-3.2.0-py2.py3-none-any.whl.metadata (7.8 kB)
Collecting simplejson==3.17.2 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached simplejson-3.17.2-cp312-cp312-macosx_13_0_arm64.whl
Collecting backoff==1.10.0 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached backoff-1.10.0-py2.py3-none-any.whl.metadata (12 kB)
Collecting ciso8601 (from pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached ciso8601-2.3.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (25 kB)
Collecting attrs>=17.4.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting pyrsistent>=0.14.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached pyrsistent-0.20.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (27 kB)
Collecting setuptools (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached setuptools-70.2.0-py3-none-any.whl.metadata (5.8 kB)
Collecting six>=1.11.0 (from jsonschema==3.2.0->pipelinewise-singer-python==1.*->pipelinewise-tap-mysql)
  Using cached six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Using cached pipelinewise_tap_mysql-1.6.0-py3-none-any.whl (42 kB)
Using cached pipelinewise_singer_python-1.3.0-py3-none-any.whl (24 kB)
Using cached plpygis-0.2.1-py3-none-any.whl (21 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Using cached tzlocal-2.1-py2.py3-none-any.whl (16 kB)
Using cached backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Using cached jsonschema-3.2.0-py2.py3-none-any.whl (56 kB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached pytz-2020.5-py2.py3-none-any.whl (510 kB)
Using cached pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
Using cached ciso8601-2.3.1-cp312-cp312-macosx_11_0_arm64.whl (15 kB)
Using cached attrs-23.2.0-py3-none-any.whl (60 kB)
Using cached pyrsistent-0.20.0-cp312-cp312-macosx_10_9_universal2.whl (83 kB)
Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Using cached setuptools-70.2.0-py3-none-any.whl (930 kB)
Building wheels for collected packages: pendulum
  Building wheel for pendulum (pyproject.toml): started
  error: subprocess-exited-with-error
  
  × Building wheel for pendulum (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.
  
  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for pendulum (pyproject.toml): finished with status 'error'
  ERROR: Failed building wheel for pendulum
Failed to build pendulum
ERROR: ERROR: Failed to build installable wheels for some pyproject.toml based projects (pendulum)

Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Failed to install plugin(s)
```

I get the same issue with `meltano add extractor tap-mysql` and `meltano add extractor tap-mysql --variant meltanolabs`

I can confirm that adding the singer io one does go through.

```
❯ meltano add extractor tap-mysql --variant singer-io

Added extractor 'tap-mysql' to your project
Variant:        singer-io
Repository:     https://github.com/singer-io/tap-mysql
Documentation:  https://hub.meltano.com/extractors/tap-mysql--singer-io

2024-07-06T18:31:28.562833Z [info     ] Installing extractor 'tap-mysql'
2024-07-06T18:31:34.006730Z [info     ] Installed extractor 'tap-mysql'

To learn more about extractor 'tap-mysql', visit https://hub.meltano.com/extractors/tap-mysql--singer-io
```

But I then run into another issue

```
❯ meltano config tap-mysql set host localhost
meltano config tap-mysql set port 3306
meltano config tap-mysql set user root
meltano config tap-mysql set password root
meltano config tap-mysql set database mydatabase
2024-07-06T18:32:22.712434Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
/Users/sigex/.local/pipx/venvs/meltano/lib/python3.12/site-packages/meltano/cli/interactive/config.py:404: RuntimeWarning: Unknown setting 'host'
  value, metadata = settings.set_with_metadata(
Extractor 'tap-mysql' setting 'host' was set in `meltano.yml`: 'localhost'
2024-07-06T18:32:23.212641Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
/Users/sigex/.local/pipx/venvs/meltano/lib/python3.12/site-packages/meltano/cli/interactive/config.py:404: RuntimeWarning: Unknown setting 'port'
  value, metadata = settings.set_with_metadata(
Extractor 'tap-mysql' setting 'port' was set in `meltano.yml`: '3306'
2024-07-06T18:32:23.703357Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
/Users/sigex/.local/pipx/venvs/meltano/lib/python3.12/site-packages/meltano/cli/interactive/config.py:404: RuntimeWarning: Unknown setting 'user'
  value, metadata = settings.set_with_metadata(
Extractor 'tap-mysql' setting 'user' was set in `meltano.yml`: 'root'
2024-07-06T18:32:24.183287Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
/Users/sigex/.local/pipx/venvs/meltano/lib/python3.12/site-packages/meltano/cli/interactive/config.py:404: RuntimeWarning: Unknown setting 'password'
  value, metadata = settings.set_with_metadata(
Extractor 'tap-mysql' setting 'password' was set in `meltano.yml`: 'root'
2024-07-06T18:32:24.698580Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
/Users/sigex/.local/pipx/venvs/meltano/lib/python3.12/site-packages/meltano/cli/interactive/config.py:404: RuntimeWarning: Unknown setting 'database'
  value, metadata = settings.set_with_metadata(
Extractor 'tap-mysql' setting 'database' was set in `meltano.yml`: 'mydatabase'
❯ meltano config tap-mysql test

2024-07-06T18:32:33.918991Z [info     ] The default environment 'dev' will be ignored for `meltano config`. To configure a specific environment, please use the option `--environment=<environment name>`.
Need help fixing this problem? Visit http://melta.no/ for troubleshooting steps, or to
join our friendly Slack community.

Plugin configuration is invalid
Catalog discovery failed: command ['/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/extractors/tap-mysql/venv/bin/tap-mysql', '--config', '/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/run/tap-mysql/tap.b470d9dc-bed2-4d11-bee6-e7329e2fd72c.config.json', '--discover'] returned 1 with stderr:
 Traceback (most recent call last):
  File "/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/extractors/tap-mysql/venv/bin/tap-mysql", line 5, in <module>
    from tap_mysql import main
  File "/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/extractors/tap-mysql/venv/lib/python3.12/site-packages/tap_mysql/__init__.py", line 24, in <module>
    import tap_mysql.sync_strategies.binlog as binlog
  File "/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/extractors/tap-mysql/venv/lib/python3.12/site-packages/tap_mysql/sync_strategies/binlog.py", line 21, in <module>
    from tap_mysql.connection import connect_with_backoff, MySQLConnection, make_connection_wrapper
  File "/Users/sigex/workdir/meltano-first-tutorial/meltano-project-github/.meltano/extractors/tap-mysql/venv/lib/python3.12/site-packages/tap_mysql/connection.py", line 17, in <module>
    match_hostname = ssl.match_hostname
                     ^^^^^^^^^^^^^^^^^^
AttributeError: module 'ssl' has no attribute 'match_hostname'

```
